<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="圣杯布局方式" content="完美的布局方式">
<title>圣杯布局方式</title>
<style type="text/css">
body{text-align:center;}
#demo{width:80%;margin:auto;}
#hd,#ft{height:50px;background-color:#aaa;}
#bd{zoom:1;overflow:hidden;margin:10px 0;padding-right:210px;}
#aside{float:right;position:relative;right:-210px;width:200px;margin-right:-100%;background-color:#ccc;}
#main{float:right;width:100%;background-color:#aaa;}
</style>
</head>
<body>
<div id="demo">
<header id="hd">头部</header>
<div id="bd">
	<div id="main">Main<br />主内容区域</div>
	<aside id="aside">Aside<br />侧边栏区域</aside>
</div>
<footer id="ft">底部</footer>
</div>
</body>
</html>